#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: none;
}

.conversation {
  border: 2px #000 solid;
  min-height: 650px;
}

.messages {
  width: 400px;
}

.message {
  display: flex;

  overflow-wrap: break-word;
  word-break: break-all;
  margin: 10px;
  justify-content: flex-end;
}

.message.sender {
  flex-direction: row;
  text-align: right;
}

.message.recipient {
  flex-direction: row-reverse;
}

.message-space {
  min-width: 15%;
}

.message-text {
  font-size: 18px;
  border-radius: 10px;
  padding: 8px;
  max-width: 85%;
}

.sender > .message-text {
  color: white;
  background: linear-gradient(45deg, #007bfd 0%, #2298fa 100%);
}

.recipient > .message-text {
  color: black;
  background: #eee;
}

.hidden-text {
  color: rgba(0,0,0,0);
  font-size: 0;
}